body{
    background-color: grey;
    border-bottom: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

/* Nav bar itself */
.navbar{
    overflow: hidden;
    background-color: #041e42;
    position:fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
}

/* Links inside the navbar */
.navbar a{
    float: left;
    display: block;
    font-style: italic;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Set the color for the navbar links before and after being clicked on */
.navbar a:link, a:visited{
    color: white;
}

.navbar a:hover{
    background:#01a1ecb7;
}

.main {
    padding: 16px;
    margin-top: 30px;
    height: 100%;
}

div.main>img[title="Doggy Daycare"]{
    display: block;
    height: 300px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border: solid 4px #041e42;
}

div.main>h1{
    text-align: center;
}

.main p{
    text-align: center;
}

.subPage h1{
    text-align: left;
    padding: 16px;
    margin-top: 50px;
}

.subPage h3{
    text-align: left;
    padding-left: 32px;
}